<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:tx="http://www.springframework.org/schema/tx" 
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context-3.0.xsd 
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven />

	<context:component-scan base-package="com.epam.employeemanagement.dao" />
	<context:annotation-config/>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/employee_management" />
		<property name="username" value="manager" />
		<property name="password" value="1111" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="EmployeeManagement" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	

	<bean id="initUserDataService" class="com.epam.employeemanagement.service.InitUserDataService"/>

    <bean id="viewEmployeesService" class="com.epam.employeemanagement.service.ViewEmployeesService"/>
    <bean id="viewProjectsService" class="com.epam.employeemanagement.service.ViewProjectsService"/>
    <bean id="viewUnitsService" class="com.epam.employeemanagement.service.ViewUnitsService"/>

	<bean id="viewEmployeeService" class="com.epam.employeemanagement.service.ViewEmployeeService"/>    
    <bean id="addEmployeeService" class="com.epam.employeemanagement.service.AddEmployeeService"/>
    <bean id="saveEmployeeService" class="com.epam.employeemanagement.service.SaveEmployeeService"/>
    <bean id="deleteEmployeeService" class="com.epam.employeemanagement.service.DeleteEmployeeService"/>
    <bean id="editEmployeeService" class="com.epam.employeemanagement.service.EditEmployeeService"/>
    <bean id="selectProjectService" class="com.epam.employeemanagement.service.SelectProjectService"/>
    <bean id="performSelectProjectService" class="com.epam.employeemanagement.service.PerformSelectProjectService"/>
    <bean id="selectUnitService" class="com.epam.employeemanagement.service.SelectUnitService"/>
    <bean id="performSelectUnitService" class="com.epam.employeemanagement.service.PerformSelectUnitService"/>
    <bean id="editPersonalService" class="com.epam.employeemanagement.service.EditPersonalService"/>
    <bean id="performEditPersonalService" class="com.epam.employeemanagement.service.PerformEditPersonalService"/>
    <bean id="findEmployeeService" class="com.epam.employeemanagement.service.FindEmployeeService"/>
    <bean id="performFindEmployeeService" class="com.epam.employeemanagement.service.PerformFindEmployeeService"/>
    <bean id="addProjectService" class="com.epam.employeemanagement.service.AddProjectService"/>
    <bean id="addUnitService" class="com.epam.employeemanagement.service.AddUnitService"/>
    <bean id="saveProjectService" class="com.epam.employeemanagement.service.SaveProjectService"/>
    <bean id="saveUnitService" class="com.epam.employeemanagement.service.SaveUnitService"/>

	<bean class="com.epam.employeemanagement.requesthandler.RequestHandler">
        <property name="services">
            <map>
                <entry key="viewEmployees" value-ref="viewEmployeesService"/>
                <entry key="viewProjects" value-ref="viewProjectsService"/>
                <entry key="viewUnits" value-ref="viewUnitsService"/>
                <entry key="initUserData" value-ref="initUserDataService"/>
                <entry key="viewEmployee" value-ref="viewEmployeeService"/>
                <entry key="addEmployee" value-ref="addEmployeeService"/>
                <entry key="saveEmployee" value-ref="saveEmployeeService"/>
                <entry key="deleteEmployee" value-ref="deleteEmployeeService"/>
                <entry key="editEmployee" value-ref="editEmployeeService"/>
                <entry key="selectProject" value-ref="selectProjectService"/>
                <entry key="performSelectProject" value-ref="performSelectProjectService"/>
                <entry key="selectUnit" value-ref="selectUnitService"/>
                <entry key="performSelectUnit" value-ref="performSelectUnitService"/>
                <entry key="editPersonal" value-ref="editPersonalService"/>
                <entry key="performEditPersonal" value-ref="performEditPersonalService"/>
                <entry key="findEmployee" value-ref="findEmployeeService"/>
                <entry key="performFindEmployee" value-ref="performFindEmployeeService"/>
                <entry key="addProject" value-ref="addProjectService"/>
                <entry key="addUnit" value-ref="addUnitService"/>
                <entry key="saveProject" value-ref="saveProjectService"/>
                <entry key="saveUnit" value-ref="saveUnitService"/>
            </map>
        </property>
    </bean>
    
</beans>